.profile__add-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  font-size: 40px;
  justify-self: flex-end;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity .3s linear;
}

@media screen and (max-width: 980px) {
  .profile__add-button {
    min-width: 282px;
  } 
}

.profile__add-button:hover {
  opacity: .6;
  transition: opacity .3s linear;
}