.popup__save {
  width: 358px;
  border: 0;
  background: #000000;
  border-radius: 2px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 18px;
  padding: 12px;
}

.popup__save:hover {
  opacity: .8;
  transition: opacity .3s linear;
}

@media screen and (max-width: 800px) {
  .popup__save {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}